/* styles.css */

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: black;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

/* Estilos para las diferentes pantallas */
.blue-bg {
    background-color: #00a3e0;
    color: white;
}

.light-pink-bg {
    background-color: #ffd9e6;
}

.light-blue-bg {
    background-color: #ccf2ff;
}

.white-bg {
    background-color: white;
}

/* Estilos para el contenido */
.content {
    margin: 50px auto;
    width: 80%;
    text-align: center;
}

.content h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.content p {
    font-size: 1.2rem;
    line-height: 1.5;
}

.content .btn {
    display: inline-block;
    background-color: #004080;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

/* Estilos para las imágenes */
.image {
    margin-top: 20px;
}

.images {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.images img {
    width: 200px;
    margin-right: 20px;
}

/* Estilos para el formulario de contacto */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    margin-top: 10px;
}

form input[type="text"],
form input[type="tel"] {
    margin-bottom: 10px;
    padding: 5px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Estilos para el botón de enviar */
form .btn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #004080;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form .btn:hover {
    background-color: #003366;
}

.logo img {
    max-width: 40%; /* Reducción del tamaño del logo */
    height: auto;
}